@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<nav style="background-color:#333; padding:10px;">
    <a href="/bank/custDashboard" style="color:white; margin-right:15px;">Dashboard</a>
    <a href="/bank/Transactions" style="color:white; margin-right:15px;">Transactions</a>
    <a href="/bank/Transfer" style="color:white; margin-right:15px;">Transfer</a>
    <a href="/bank/UpdateProfile" style="color:white; margin-right:625px;">Profile</a>
    <a href="/bank/custLogOut" style="color:red;">Logout</a>
</nav>

